body {
    background: #fafafa;
}

.dino{
    width: 60px;
    height: 60px;
    background-image: url(dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cactus.png);
}

.gameView {
    position: relative;
    top: 80px;
    right: 200;
    width: 600px;
    height: 200px;
    margin: 0 auto;
}

@font-face {
  font-family: '8bit';
  src: url('8bit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.game-over {
    text-align: center;
    color: #666666;
    margin-top: 0px;
    font-size: 16px;
    font-family: '8bit', arial;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideright 200s infinite linear;
    width: 100%;
    height: 200px;
}